{% extends "base.html" %}


{% block main %}


    <div class="d-flex justify-content-center">
        <div class="card col-8 mb-4 mt-4">
            <div class="card-body">
                <h2 class="text-center">{{ title }}</h2>
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <!--  Fields for filling-->
                        {{ form.as_p}}
                    {% comment %} <div>
                        <input type="hidden" name="csrfmiddlewaretoken" value="1a7PHLHTRx8Sw0dH0fZEJhG0qmM6DgmHwSzhFvF16RnABVuToWnPfEFd2X58cUTj">
                        <p>
                            <label for="id_title">Заголовок статьи:</label>
                            <input type="text" name="title" class="form-control" maxlength="255" required id="id_title">
                        </p>
                        <p>
                            <label for="id_content">Текст статьи:</label>
                            <textarea name="content" cols="40" rows="10" class="form-control" required id="id_content">Скоро все будет...</textarea>
                        </p>
                        <p>
                            <label for="id_photo">Изображения:</label>
                            <input type="file" name="photo" class="form-control" accept="image/*" id="id_photo">
                        </p>
                        <p>
                            <label for="id_category">Категория:</label>
                            <select name="category" class="form-control" required id="id_category">
                                <option value="" selected>---------</option>
                                <option value="1">Первые блюда</option>
                                <option value="2">Вторые блюда</option>
                                <option value="3">Десерты</option>
                            </select>
                        </p>
                    </div> {% endcomment %}
                    <button class="btn btn-dark" type="submit">
                        {% if "update" in request.path %}
                            Редактировать
                        {% else %}
                            Добавить статью
                        {% endif %}
                    
                        </button>
                </form>
            </div>
        </div>
    </div>
    <div><div style="margin-top: 100px;"></div></div>


{% endblock main %}